{% extends "_helpers/_base.html" %}

{% block content %}
    <h1>Contacts</h1>
    <h3>
    Current contacts data types:
       {% for item in contact_data_types_counts %}
        	 <ol>{{ forloop.counter }}.{{ item.name }}:{{ item.count }}</ol>
        {% endfor %}
    </h3>
    <h3>Youngest contact {{ youngest_birthdate }}, his age {{ youngest_age }}</h3>
    <h3>Oldest contact {{ oldest_birthdate }}, his age {{ oldest_age }}</h3>
    <h3>Average age {{ average_age }}</h3>


{% include "contacts/_contacts_list_base.html" with contacts_list=object_list %}

{% endblock %}

